#{extends 'main.html' /}
<meta charset="utf-8">

<style type="text/css">
/*Botones de navegacion*/
	nav {
		margin-top: 20px;
		text-align: center;
		padding: 10px;
	}

	nav a{
		font-size: 16px;
		display: inline-block;
		color: #FCFCFC;
		background-color: #244B68;
		width: 150px;
		height: 40px;
		padding: 11px;
		box-sizing: border-box;
		text-decoration: none;
		border-radius: 10px;
	}

	nav a:hover{
		color: #fcfcfc;
		background: #1dabb8;
	}





</style>
                    <nav>
                   
  					<a href= /Registro>Imagenes</a>
  					<a href= /Usuario>Perfil</a>
  					<a href= /Productos>Productos</a>
  					 <a href= /Inicio>Salir</a>
  					</nav>
<body>
					

<h3>Registro</h3>
<form name="formLogin" action="@{Usuarios.Guardar()}" method = "post">
<table>
<tr>
	<td><label>NOMBRES:</label></td>
	<td><input name="UserName" type="text" id="user"/></td>
</tr>

<tr>
	<td><label>APELLIDOS:</label></td>
	<td><input name="Apellido" type="text" id="apellido" /><br></td>
</tr>
<tr>
	<td><label>DIRECCIÓN:</label></td>
	<td><input name="Direccion" type="text" id="direccion" /><br></td>
</tr>
<tr>
	<td><label>TELÉFONO:</label></td>
	<td><input name="Telefono" type="text" id="telefono"  /><br></td>
</tr>
<tr>
	<td><label>observaciones del doctor:</label></td>
	<td><TEXTAREA name="sintomas" cols="17" rows="6"></TEXTAREA><br></td>
</tr> 
<tr>
	

<tr>
	<td colspan="2"><center><input type="submit" id="registro" value="GUARDAR"/></center></td>
</tr> 
</table><br><br>	
</form>



</body>
