
#{extends 'main.html' /}
<meta charset="utf-8">




<body>
<div id="contenedor">

		<!-- 
	==============================================================
		FORMULARIO INICIO
	==============================================================
 -->
		<div id="inicio">
			
			<div class="login">
				<h1 class="login-title">Inicio de Sesión</h1>
				<input id="inpUsuario" type="email" class="login-input"
					placeholder="Ingresa Email" autofocus required> <input
					id="inpPassword" type="password" class="login-input"
					placeholder="Ingresa Password" required> 
					<input id="btnIngresar" type="submit" value="Ingresar" class="login-button">
				<p class="login-lost">
					<a href="">Solicitar Password</a>
				</p>
			
			</div>

			<div id="saludo">
				Inicia Sesión Aquí<br> <br> <img
					src="public/images/aid.png" width="55">
			</div>
		</div>
		
		
		
<div id="inicio2">
	<div class="registro"> 
	<h1 class="login-title">Registro</h1>
		<form name="formLogin" action="@{Usuarios.Guardar()}" method = "post">
		<table>
			<tr>
				<td><label>NOMBRES:</label></td>
				<td><input name="UserName" type="text" id="user" class="login-input2"/></td>
			</tr>

			<tr>
					<td><label>APELLIDOS:</label></td>
					<td><input name="Apellido" type="text" id="apellido" class="login-input2" /><br></td>
			</tr>
			<tr>
					<td><label>DIRECCIÓN:</label></td>
					<td><input name="Direccion" type="text" id="direccion" class="login-input2" /><br></td>
			</tr>
			<tr>
					<td><label>TELÉFONO:</label></td>
					<td><input name="Telefono" type="text" id="telefono" class="login-input2" /><br></td>
			</tr>
			<tr>
					<td><label>CONTRASEÑA:</label></td>
					<td><input name="Password" type="password" id="password" class="login-input2" /><br></td>
			</tr> 

			<tr>
					<td colspan="2"><input type="submit" id="registro" value="INGRESAR" class="login-button"  /></td>
	
			</tr> 

		</table>
 	</div> 
 
 			<div id="saludo">
				¿No eres miembro? <br> Regístrate aquí INBESIL ;)
<h1>PROBANDO HITHUB</h1>
			</div>
 </div>
				
</div>














</form>


</body>
